
body {
    font-family: courier, sans-serif;
    align-items: center;
    justify-content: center;
    color:white;
    padding:0; 
    margin:0;
}

.header{
    background-color:#1F2937;
    display:flex;
    align-items: center;
    justify-content:space-between;
    height:30px;
    padding:5px;
}

.header .left_links{
    display:flex;
    justify-content:space-between;
}

.header .center_links ul {
    list-style-type: none;
    display: flex;
    gap: 12px;
  }

.header .right_links ul {
    list-style-type: none;
    display: flex;
    padding-right:20px;
    gap: 40px;
  }

.div a{
    color: #164709;
    text-decoration: none;
}



.quote_container {
    justify-content: center;
    align-items: center;
}

.quote_text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:32px;
    max-width:1000px;
    font-style:italic;
    font-weight:lighter;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#1F2937;
    padding: 5px;
}

.footer h1{
    font-size:12px;
    color:white;
}